%html
  %head
    %title Capybara output for #{dir}
    %script{ type: 'text/javascript', src: 'http://codeorigin.jquery.com/jquery-2.0.3.min.js' }
    %script{ type: 'text/javascript', src: '/application.js' }
  %body
    %ul
